h1 {
    text-align: center;
    color: red;
}

.contact-btn {
    display: block;
    margin: 0, auto;
    width: 200px;
    color: white;
    background-color: blue;
    vertical-align: center;
    text-align: center;
    padding: .375rem .75rem;
    border: 1px solid ;
    border-color: blue;
    border-radius: .25rem;
    font-size: 1rem;
}